<li class="btn-open-consult">
    <p class="car-name">@@name</p>
    <div class="car-view">
        <div class="img-box"><img src="http://static.carminute.co.kr/img/carlist/@@img" alt="이미지"></div>
    </div>
    <div class="car-info-box">
        <ul class="car-info-ul">
            <li class="info-grade">
                <p class="p-name">등급</p>
                <p class="p-cont">@@grade</p>
            </li>
            <!-- 0625수정 -->
            <!-- 선수금,보증금 추가 -->
            <li class="info-fee">
                <!-- 변경: 월요금 -> 선수금 -->
                <p class="p-name">선수금</p>
                <p class="p-cont">@@rent_fee<span class="span-won">원</span></p>
            </li>
            <!-- 보증금 추가 -->
            <li class="info-fee">
                <p class="p-name">보증금</p>
                <p class="p-cont">@@rent_fee<span class="span-won">원</span></p>
            </li>
            <!-- //보증금 추가 -->
            <!-- 선수금,보증금 추가 -->
            <!-- //0625수정 -->
        </ul>
        <a class="btn-quote">오픈특가 견적보기</a>
    </div>
</li>