.overflow-hidden,
.overflow-hidden2,
.overflow-hidden3,
pop-consult-wrap-tsla {
    overflow: hidden;
}

.show-mobile {
    display: none !important;
}

.show-pc {
    display: block !important;
}

@media (max-width: 900px) {
    .show-mobile {
        display: block !important;
    }

    .hidden-mobile {
        display: none !important;
    }

    .show-pc {
        display: none !important;
    }
}

.wrap-container {
    background-color: #1a1a1a;
    // padding-top: 83px;

    .sect-container {
        max-width: 1158px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .wrap-container {
        padding-top: 0;

        .sect-container {
            width: 100%;
        }
    }
}

/*모바일용 버튼*/
.btn-bottom-sect {
    width: 100%;
    position: fixed;
    bottom: 0;

    .btn-area {
        display: flex;
        width: 100%;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 12.6rem;

            .p-txt {
                font-size: 3.8rem;
                font-weight: 500;
                margin-left: 1.4rem;
            }
        }

        .btn-tel {
            width: 20%;
            background-color: #000000;

            .icon {
                width: 7.8rem;
            }
        }

        .btn-estimate {
            background-color: #331c74;

            .icon {
                width: 3.4rem;
            }

            .p-txt {
                padding-top: 1rem;
                color: #fff;
            }
        }

        .btn-kakao {
            background-color: #4d256c;

            .icon {
                width: 7.6rem;
            }

            .p-txt {
                padding-top: 1rem;
                color: #e3cb21;
            }
        }
    }
}

/*컴플리스 박스*/
.modal-complete-request {
    z-index: 35;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .complete-area {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        overflow-x: hidden;
        border-radius: 12px;
        width: 530px;
        margin: 0 auto;
        padding-top: 2rem;
        text-align: center;

        .btn-close-complete {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .top-logo {
            width: 164px;
            margin: 0 auto;
        }

        .message-main {
            margin-top: 44px;

            p {
                color: #000;
                letter-spacing: -1px;
            }

            .txt-pc {
                font-size: 40px;
                .mark {
                    font-weight: 600;
                }
            }

            .txt-mobile {
                display: none;
            }
        }

        .line-bar {
            width: 306px;
            height: 2px;
            background-color: #dadada;
            margin: 0 auto;
            margin-top: 22px;
        }

        .message-sub {
            margin-top: 20px;
            line-height: 1.3;
            color: #747474;
            font-size: 22px;
            font-weight: 400;
            letter-spacing: -1px;

            .mark,
            .name,
            .phone,
            .car {
                color: #621b74;
                font-weight: 700;
            }
        }

        .btn-go-complte {
            margin-top: 30px;
            font-family: 'GmarketSans', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #9528b0;
            width: 100%;
            color: #fff;
            font-size: 25px;
            height: 62px;
            padding-top: 8px;
            letter-spacing: -2.4px;
        }
    }
}

@media (max-width: 900px) {
    .modal-complete-request {
        .complete-area {
            border-radius: 1.2rem;
            width: 80%;
            margin: 0 auto;
            padding-top: 4rem;

            .btn-close-complete {
                top: 1.2rem;
                right: 1.2rem;
                width: 3rem;
            }

            .top-logo {
                width: 23.2rem;
            }

            .message-main {
                margin-top: 3.4rem;

                p {
                }

                .txt-pc {
                    display: none;
                }

                .txt-mobile {
                    font-size: 6.2rem;
                    font-weight: 700;
                    display: block;
                }
            }

            .line-bar {
                width: 45.2rem;
            }

            .message-sub {
                margin-top: 4rem;
                line-height: 1.4;
                font-size: 2.7rem;
                font-weight: 700;
                letter-spacing: -0.05rem;

                .mark,
                .name,
                .phone,
                .car {
                    color: #621b74;
                    font-weight: 700;
                }
            }

            .btn-go-complte {
                margin-top: 5.5rem;
                width: 100%;
                font-size: 25px;
                height: 8rem;
                padding-top: 8px;
                letter-spacing: -0.3rem;
            }
        }
    }
}

/*상당신청 팝업*/

.btn-open-consult {
    cursor: pointer;
}

.pop-consult-wrap,
.pop-consult-wrap-tsla {
    display: none;
    z-index: 120;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .pop-consult {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        width: 556px;
        height: 556px;
        border-radius: 50%;
        background: linear-gradient(45deg, #3077f9, #8655ef, #ba41e9);
        position: relative;

        * {
            color: #fff;
        }

        .btn-close-pop {
            z-index: 25;
            position: absolute;
            top: 36px;
            right: 70px;
            background-color: #8716b8;
            border-radius: 50%;
            width: 55px;
            height: 55px;

            .img-box {
                img {
                    width: auto;
                }
            }
        }

        .pop-cont {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            width: 352px;
            margin: 0 auto;
            text-align: center;
        }

        .logo-top {
            img {
                width: auto;
            }
        }

        .pop-title {
            margin-top: 22px;
            font-size: 42px;
            font-weight: 500;
            letter-spacing: -0.7px;
        }

        .in-box {
            margin-top: 20px;
            width: 100%;

            input {
                width: 100%;
                display: block;
                margin-bottom: 13px;
                height: 42px;
                padding: 12px;
                color: #343434;
                font-size: 22px;
                font-weight: 500;

                // padding-top: 12px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .policy-box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 22px;

            .p-txt {
                font-size: 22px;
                font-weight: 500;
            }

            .btn-policy {
                background-color: #5e39ad;
                width: 64px;
                height: 28px;
                border-radius: 14px;
                font-size: 22px;
                font-weight: 500;
                margin-left: 10px;
            }
        }

        .btn-consult {
            margin-top: 12px;
            background-color: #000;
            height: 54px;
            border-radius: 27px;
            width: 100%;
            font-size: 3rem;
            font-weight: 500;
            padding-top: 4px;
        }

        .p-tel {
            margin-top: 16px;
            font-size: 35px;
            font-weight: 700;
            letter-spacing: -0.7px;
        }
    }
}

.pop-consult-wrap {
    .pop-consult {
        top: 35% !important;
        [class*='event-'] {
            position: absolute;
            cursor: pointer;
            width: 100%;
        }
        .event-rentcar {
            bottom: -22%;
        }
        .event-starbucks {
            bottom: -40%;
        }
    }
}

/* 빠른상담신청 */
@media (max-width: 900px) {
    .pop-consult-wrap {
        .pop-consult {
            margin: initial;
            width: 100%;
            height: auto;
            border-radius: 0;
            background: transparent;

            * {
                color: #fff;
            }

            .pop-area {
                position: relative;
                margin: 0 auto;
                width: 70rem;
                height: 70rem;
                border-radius: 50%;
                background: linear-gradient(45deg, #3077f9, #8655ef, #ba41e9);
            }

            .btn-close-pop {
                top: 6rem;
                right: 8rem;
                width: 7rem;
                height: 7rem;

                .img-box {
                    width: 3rem;
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }
                }
            }

            .pop-cont {
                width: 49rem;
            }

            .logo-top {
                margin: 0 auto;
                width: 25rem;
                img {
                    width: 100%;
                }
            }

            .pop-title {
                margin-top: 2.2rem;
                font-size: 6rem;
            }

            .in-box {
                margin-top: 2rem;
                width: 100%;

                input {
                    padding: 0;
                    margin-bottom: 1.4rem;
                    height: 5.8rem;
                    padding-top: 5px;
                    padding-left: 1.2rem;
                    line-height: 1;
                    font-size: 3.5rem;

                    &:last-of-type {
                    }
                }
            }

            .policy-box {
                margin-top: 2.2rem;

                .p-txt {
                    font-size: 3rem;
                }

                .btn-policy {
                    background-color: #5e39ad;
                    width: 6.4rem;
                    height: 4rem;
                    border-radius: 2rem;
                    font-size: 2.2rem;
                    text-align: center;
                    line-height: 1;
                    margin-bottom: 2px;
                    margin-left: 1rem;
                }
            }

            .btn-consult {
                margin-top: 12px;
                background-color: #000;
                height: 7rem;
                border-radius: 3.5rem;
                width: 100%;
                font-size: 4rem;
                font-weight: 500;
                padding-top: 4px;
            }

            .p-tel {
                margin-top: 1.6rem;
                font-size: 3.5rem;
                font-weight: 700;
                letter-spacing: -0.7px;
            }
        }
    }
}

/*개인정보보호정책*/
.pop-policy-wrap {
    display: none;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .pop-policy {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 790px;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 12px;
        padding: 0 25px;
        padding-top: 50px;
        padding-bottom: 40px;

        .policy-textarea {
            resize: none;
            height: 370px;
            width: 100%;
            overflow-y: auto;
            color: #747474;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -1.2px;
            line-height: 1.2;
            white-space: pre-wrap;
            word-break: keep-all;

            .tit-main {
                color: #000;
                font-weight: 700;
                font-size: 26px;
            }

            .tit {
                color: #000;
                font-weight: 500;
            }
        }

        .btn-close-policy {
            display: block;
            background-color: #8716b8;
            margin: 0 auto;
            margin-top: 20px;
            width: 427px;
            height: 68px;
            color: #fff;
            font-size: 30px;
            font-weight: 500;
            border-radius: 34px;
            letter-spacing: -0.8px;
        }
    }
}

@media (max-width: 900px) {
    .pop-policy-wrap {
        .pop-policy {
            width: 80%;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 1.2rem;
            padding: 0 2.5rem;
            padding-top: 5rem;
            padding-bottom: 4rem;

            .policy-textarea {
                resize: none;
                height: 32rem;
                font-size: 2rem;
                font-weight: 500;

                .tit-main {
                    color: #000;
                    font-weight: 700;
                    font-size: 2.6rem;
                }

                .tit {
                    color: #000;
                    font-weight: 500;
                }
            }

            .btn-close-policy {
                display: block;
                background-color: #8716b8;
                margin: 0 auto;
                margin-top: 2rem;
                width: 60%;
                height: 7.6rem;
                color: #fff;
                font-size: 3.2rem;
                font-weight: 500;
                border-radius: 3.8rem;
                letter-spacing: -0.8px;
            }
        }
    }
}

/* 탑 버튼 */
.fn-up-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    margin: 0 auto;
    z-index: 100;

    .fn-up-area {
        position: absolute;
        left: 636px;
        bottom: 88px;

        img {
            width: auto;
        }
    }
}

/* sun */
@media (max-width: 1560px) {
    .fn-up-wrap {
        left: auto;
        right: 88px;
        top: auto;
        bottom: 0;
        margin: initial;
        width: 65px;
        height: 65px;
        .fn-up-area {
            left: auto;
            .img-box {
                width: 65px;
                height: 65px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .fn-up-wrap {
        right: 0;
        width: auto;
        height: auto;

        .fn-up-area {
            right: 2rem;
            bottom: 15rem;
            .btn-fn-up {
                width: 10rem;
                height: 10rem;
                .img-box {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
    /* 탑버튼 */
}

//tsla 추가

@import './_tsla';
