/* common title */
.wrap-container .title-area {
  text-align: center;
}
.wrap-container .title-area .title-sub {
  color: #fff;
  font-size: 42px;
  font-weight: 300;
  word-break: keep-all;
  letter-spacing: -0.7px;
}
.wrap-container .title-area .title-main {
  color: #fff;
  font-size: 75px;
  font-weight: 500;
  margin-top: 14px;
  word-break: keep-all;
  letter-spacing: -1px;
}
.wrap-container .sub-ment {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  margin-top: 36px;
  line-height: 1.4;
  letter-spacing: -1px;
  word-break: keep-all;
}
/* 하단 상담신청바 */
.wrap-container .consult-bar {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 100px;
  background-color: #000;
}
.consult-bar .inner {
  margin: 0 auto;
  width: 1110px;
  height: 100%;
}
.consult-bar h4 {
  position: relative;
  top: -30px;
  left: 0;
  float: left;
  width: 190px;
}

.consult-bar .user-info {
  text-align: center;
}
.consult-bar .user-info ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  /* img-starbucks 190 ,img-btn 166, gap 10*3 */
  width: calc(100% - 356px);
  height: 70px;
}
.consult-bar .user-info ul li {
  margin-left: 10px;
}
.consult-bar .user-info ul li:first-child {
  margin-left: 0;
}
.consult-bar .user-info input {
  padding-left: 10px;
  height: 35px;
}
.consult-bar .user-info label {
  margin-right: 8px;
  color: #fff;
}
.consult-bar .btn-estimate {
  float: left;
  width: 166px;
  height: 70px;
}

.consult-bar .user-info ul li input::-webkit-input-placeholder {
  font-family: "NanumSquare", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  color: #000;
}
.consult-bar .user-info ul li input::-moz-placeholder {
  font-family: "NanumSquare", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  color: #000;
}
.consult-bar .user-info ul li input:-ms-input-placeholder {
  font-family: "NanumSquare", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  color: #000;
}
.consult-bar .user-info ul li input::-ms-input-placeholder {
  font-family: "NanumSquare", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  color: #000;
}
.consult-bar .user-info ul li input::placeholder {
  font-family: "NanumSquare", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  color: #000;
}

/* 2021.06.22 */
.consult-bar .user-info .agreement {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13px;
}
.consult-bar .user-info .agreement input {
  display: none;
}
.consult-bar .user-info .agreement label {
  display: flex;
  align-items: center;
}
.consult-bar .user-info .agreement label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
}
.consult-bar .user-info .agreement input:checked + label:before {
  content: "✔";
  border-color: #3c7b99;
  background-color: #2a6caa;
  text-align: center;
  font-size: 17px;
  color: #fff;
}

.consult-bar .user-info .agreement label span {
  margin-left: 10px;
  font-size: 15px;
  line-height: 1;
}
.consult-bar .user-info .agreement .btn-more {
  padding: 0 5px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

/* //2021.06.22 */
@media (max-width: 1750px) {
  .consult-bar .inner {
    width: 75%;
  }
}
@media (max-width: 1425px) {
  .consult-bar .user-info ul label {
    display: none;
  }
}
@media (max-width: 1140px) {
  .consult-bar .inner {
    width: 98%;
  }
}
@media (max-width: 900px) {
  .consult-bar {
    display: none;
  }
}
/* //하단 상담신청바 */
/* 메인 Intro */
.sect-intro {
  padding-top: 50px;
  background: url("https://static.carminute.co.kr/img/main/intro_bg.jpg")
    no-repeat center;
  background-size: cover;
}
.sect-intro .sect-container {
  text-align: center;
}
.sect-intro .sect-container img {
  width: auto;
}
.sect-intro .intro-area .intro-subment {
  color: #fff;
  font-size: 32px;
  font-weight: -0.7px;
  margin-top: 20px;
}
.sect-intro .intro-area .title {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1010px;
}
.sect-intro .intro-area .title img {
  width: 100%;
}
.sect-intro .intro-area .img-car {
  margin-top: 26px;
}
.sect-intro .contents {
  position: relative;
}
.sect-intro .intro-over-cont {
  position: absolute;
  padding-top: 64px;
  padding-bottom: 42px;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.sect-intro .intro-over-cont .txt-area {
  text-align: center;
}
.sect-intro .intro-over-cont .txt-area .p-txt {
  color: #fff;
  font-size: 42px;
  font-weight: 300;
  letter-spacing: -0.7px;
}
.sect-intro .intro-over-cont .txt-area .p-txt .mark {
  color: #ff79f1;
  font-size: 66px;
  font-weight: 500;
}
/* //메인 Intro */
/* Section */
.sect-advantage01 {
  background-color: #000;
  background-size: cover;
  padding-top: 86px;
  padding-bottom: 100px;
}
.sect-advantage02 {
  background: url("https://static.carminute.co.kr/img/main/advantage02_bg.jpg")
    no-repeat center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 100px;
}
.sect-advantage03 {
  background-color: #000;
  padding-top: 86px;
  padding-bottom: 100px;
}
.sect-advantage04 {
  background: url("https://static.carminute.co.kr/img/main/advantage04_bg.jpg")
    no-repeat center;
  background-size: cover;
  padding-top: 86px;
  padding-bottom: 100px;
}
.sect-advantage04 .contents:first-of-type {
  border-bottom: 1px solid #333;
  padding-bottom: 50px;
  margin-bottom: 70px;
}
.sect-benefit {
  background: url("https://static.carminute.co.kr/img/main/benefit_bg.jpg")
    no-repeat center;
  background-size: cover;
  padding-top: 74px;
  padding-bottom: 70px;
  border-bottom: 1px solid #333;
}
/* //Section */
/* Carlist */

.sect-carlist {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: #000;
}
.sect-carlist .carlist-area {
  margin-top: 80px;
}
.sect-carlist .carlist-area .car-brand {
  text-align: center;
}
.sect-carlist .carlist-area .car-brand img {
  width: auto;
}
.sect-carlist .carlist-area .car-title-best {
  text-align: center;
  color: #fff;
  font-size: 50px;
  letter-spacing: -3px;
}
.sect-carlist .carlist-area .car-title-best span {
  font-weight: 500;
}
.sect-carlist .carlist-area .car-title-best span.span-t01 {
  color: #a17ed7;
}
.sect-carlist .carlist-area .car-title-best span.span-t02 {
  color: #cc5acc;
}
.sect-carlist .carlist-area .carlist-ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 0 20px -9px;
  width: 1180px;
}
.sect-carlist .carlist-area .carlist-ul > li {
  cursor: pointer;
  position: relative;
  padding-top: 20px;
  margin: 0 1% 2%;
  width: 23%;
  border: 1px solid #6f7290;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #21222c;
}
.sect-carlist .carlist-area .carlist-ul > li .car-view {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 24px;
}
.sect-carlist .carlist-area .carlist-ul > li .car-view .img-box {
  position: relative;
  width: 220px;
  margin: 0 auto;
}
.sect-carlist .carlist-area .carlist-ul > li .car-name {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.sect-carlist .carlist-area .carlist-ul > li .car-type {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
}
.sect-carlist .carlist-area .carlist-ul > li .car-info-box {
  background-color: #1c1e26;
  padding: 0 15px;
  padding-bottom: 28px;
  margin-top: 10px;
  border-radius: 0 0 12px 12px;
}
.sect-carlist .carlist-area .carlist-ul > li .car-info-ul {
  margin: 0 auto;
  padding-top: 18px;
}
.sect-carlist .carlist-area .carlist-ul > li ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #34363d;
}
.sect-carlist .carlist-area .carlist-ul > li ul li:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.sect-carlist .carlist-area .carlist-ul > li ul li p {
  color: #fff;
  font-weight: 300;
  letter-spacing: -0.6px;
  line-height: 1.2;
}
.sect-carlist .carlist-area .carlist-ul > li ul li .p-name {
  font-size: 16px;
}
.sect-carlist .carlist-area .carlist-ul > li .car-info-ul > li .p-cont {
  font-size: 16px;
}
.sect-carlist
  .carlist-area
  .carlist-ul
  > li
  .car-info-ul
  li.info-grade
  .p-name {
  color: #b67bff;
  font-weight: 500;
}
.sect-carlist .carlist-area .carlist-ul > li .car-info-ul li.info-fee .p-name {
  color: #f446ff;
  font-weight: 700;
}
.sect-carlist
  .carlist-area
  .carlist-ul
  > li
  .car-info-ul
  li.info-fee:last-child
  .p-name {
  color: #e76621;
}
.sect-carlist .carlist-area .carlist-ul > li .car-info-ul li.info-fee .p-cont {
  font-size: 23px;
  font-weight: 700;
}
.sect-carlist
  .carlist-area
  .carlist-ul
  > li
  .car-info-ul
  li.info-fee
  .p-cont
  .span-won {
  font-size: 18px;
}
.sect-carlist
  .carlist-area
  .carlist-ul
  > li
  .car-info-ul
  li.info-payment
  .p-num {
  color: #e30000;
  font-size: 22px;
  font-weight: 600;
}
.sect-carlist .carlist-area .carlist-ul > li .btn-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #743bca;
  border-radius: 21px;
  width: 98%;
  height: 42px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.8px;
  margin: 0 auto;
  margin-top: 18px;
  padding-top: 4px;
}
.sect-carlist .carlist-area .carlist-best-ul {
  margin-top: 46px;
}
.sect-carlist .carlist-area .carlist-best-ul > li {
  position: relative;
  cursor: pointer;
}
.sect-carlist .carlist-area .carlist-best-ul > li::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 116px;
  left: -2.2rem;
  top: -10px;
}
.sect-carlist .carlist-area .carlist-best-ul > li:nth-of-type(1):before {
  background: url("https://static.carminute.co.kr/img/main/icon_best01.png")
    no-repeat;
}
.sect-carlist .carlist-area .carlist-best-ul > li:nth-of-type(2):before {
  background: url("https://static.carminute.co.kr/img/main/icon_best02.png")
    no-repeat;
}
.sect-carlist .carlist-area .carlist-best-ul > li:nth-of-type(3):before {
  background: url("https://static.carminute.co.kr/img/main/icon_best03.png")
    no-repeat;
}
.sect-carlist .carlist-best {
  margin-top: 52px;
  padding-bottom: 30px;
}
@media (max-width: 1190px) {
  .sect-carlist .carlist-area .carlist-ul {
    width: 100%;
  }
}
/* //Carlist */
/* QNA */
.sect-qna {
  background: url("https://static.carminute.co.kr/img/main/qna_bg.jpg")
    no-repeat center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 90px;
}
.sect-qna .qna-area {
  margin-top: 52px;
}
.sect-qna .qna-area .qna-ul {
  padding-left: 20px;
  width: 100%;
}
.sect-qna .qna-area .qna-ul > li {
  margin-bottom: 66px;
}
.sect-qna .qna-area .qna-ul > li p {
  color: #fff;
  letter-spacing: -1px;
  line-height: 1.5;
  word-break: keep-all;
}
.sect-qna .qna-area .qna-ul > li .p-q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 27px;
  font-weight: 500;
}
.sect-qna .qna-area .qna-ul > li .p-q::before {
  color: #de79ff;
  content: "Q.";
  margin-right: 8px;
}
.sect-qna .qna-area .qna-ul > li .p-a {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-weight: 300;
}
.sect-qna .qna-area .qna-ul > li .p-a::before {
  color: #aaacff;
  content: "A.";
  margin-right: 14px;
}
/* //QNA */
/* 견적받기 */
.sect-quote {
  background: url("https://static.carminute.co.kr/img/main/quote_bg.jpg")
    no-repeat center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 140px;
}
.sect-quote .quote-area {
  margin: 0 auto;
  max-width: 574px;
  width: 100%;
  margin-top: 80px;
}
.sect-quote .quote-area .in-box {
  width: 100%;
}
.sect-quote .quote-area .in-box input {
  background-color: #3f3f3f;
  width: 100%;
  height: 70px;
  display: block;
  padding-left: 20px;
  border: 1px solid #717171;
  margin-bottom: 16px;
  color: #ccc;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  padding-top: 8px;
}
.sect-quote .quote-area .in-box input::-webkit-input-placeholder {
  color: #aaa;
}
.sect-quote .quote-area .in-box input::-moz-placeholder {
  color: #aaa;
}
.sect-quote .quote-area .in-box input:-ms-input-placeholder {
  color: #aaa;
}
.sect-quote .quote-area .in-box input::-ms-input-placeholder {
  color: #aaa;
}
.sect-quote .quote-area .in-box input::placeholder {
  color: #aaa;
}
.sect-quote .quote-area .in-box input:last-of-type {
  margin-bottom: 0;
}
.sect-quote .quote-area .agree-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sect-quote .quote-area .agree-box .check-agree {
  display: none;
}
.sect-quote .quote-area .agree-box .label-agree {
  color: #fff;
  font-size: 22px;
  letter-spacing: -0.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sect-quote .quote-area .agree-box .label-agree span {
  padding-top: 5px;
}
.sect-quote .quote-area .agree-box .label-agree::before {
  content: "";
  margin-right: 14px;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  background-color: #fff;
}
.sect-quote .quote-area .agree-box .check-agree:checked + .label-agree::before {
  content: "✔";
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2a6caa;
  border-color: #3c7b99;
}
.sect-quote .quote-area .agree-box .btn-policy {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  width: 64px;
  height: 30px;
  padding-top: 4px;
  color: #fff;
  font-size: 22px;
  letter-spacing: -0.7px;
  background-color: #7c7c7e;
}
.sect-quote .quote-area .btn-quote {
  margin-top: 45px;
  width: 100%;
  height: 90px;
  border-radius: 45px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#967cdc),
    to(#6841cc)
  );
  background: linear-gradient(#967cdc, #6841cc);
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  padding-top: 10px;
}
.sect-quote .quote-area .banner-event {
  display: none;
}
/* //견적받기 */
/* shop 지식쇼핑 */
.sect-shoping {
  background-color: #000;
  padding-top: 58px;
  padding-bottom: 74px;
  border-bottom: 1px solid #333;
}
.sect-shoping .shoping-area {
  padding: 46px;
  background-color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sect-shoping .shoping-area .car-view-box {
  width: 490px;
}
.sect-shoping .shoping-area .car-view-box .car-viewer {
  background-color: #23262a;
  width: 100%;
  height: 100%;
  padding-top: 170px;
  overflow: hidden;
}
.sect-shoping .shoping-area .car-info-box {
  margin-left: 26px;
  width: 502px;
}
.sect-shoping .shoping-area .car-info-box .car-name {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.6px;
  color: #fff;
}
.sect-shoping .shoping-area .car-info-box ul {
  margin-top: 25px;
  border-top: 2px solid #c4c4c4;
}
.sect-shoping .shoping-area .car-info-box ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
}
.sect-shoping .shoping-area .car-info-box ul li p {
  letter-spacing: -0.7px;
}
.sect-shoping .shoping-area .car-info-box .car-info-ul [class*="info-"] {
  padding: 12px 17px;
}
.sect-shoping
  .shoping-area
  .car-info-box
  .car-info-ul
  [class*="info-"]
  .p-name {
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  color: #f394fa;
}
.sect-shoping .shoping-area .car-info-box ul li .p-cont {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

.sect-shoping .shoping-area .car-info-box ul .info-fee {
  background-color: #fff;
  border-bottom: none;
  border-top: 1px solid #c4c4c4;
}
.sect-shoping .shoping-area .car-info-box ul .info-fee .p-name {
  color: #505050;
}
.sect-shoping .shoping-area .car-info-box ul .info-fee .p-cont {
  color: #a414ce;
  font-size: 30px;
  font-weight: 700;
}
.sect-shoping .shoping-area .car-info-box ul .info-fee .p-cont .span-won {
  color: #a414ce;
  font-size: 20px;
  font-weight: 500;
}

/* 리스,렌트 */
.sect-shoping .shoping-area .car-info-box .info-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div {
  overflow: hidden;
  display: flex;
  width: 50%;
  border-radius: 15px;
  background-color: white;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div:first-child {
  margin-right: 2%;
}
.sect-shoping
  .shoping-area
  .car-info-box
  .info-cont
  > div:first-child
  div
  span {
  margin-left: 3px;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div img {
  width: 25%;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div div b {
  display: flex;
  align-items: center;
  padding: 4px 0;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -1.5px;
  font-weight: 700;
  color: #010101;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div div .price1 {
  border-bottom: 1px dotted #000;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div div b strong {
  margin-right: 5px;
  padding: 2px;
  font-size: 1.7rem;
  line-height: 1;
  letter-spacing: -1.3px;
  font-weight: 600;
  color: #000;
  border-radius: 10px;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div div .price1 strong {
  background: #ffa0b6;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div div .price2 strong {
  background: #99afdc;
}

.sect-shoping .shoping-area .car-info-box .info-cont > div div b span {
  color: #010101;
  font-weight: 400;
  font-size: 1.5rem;
}
.sect-shoping .shoping-area .car-info-box .info-cont > div div p {
  font-weight: 400;
  color: #010101;
  font-size: 1.5rem;
}
.sect-shoping .shoping-area .car-info-box .new-button button:first-child {
  margin: 10px 0;
}
.sect-shoping .shoping-area .car-info-box .new-button button {
  width: 100%;
  margin-bottom: 5px;
}
.sect-shoping .shoping-area .car-info-box .popEvent {
  display: block;
  position: fixed;
  top: 0;
  z-index: 550;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.sect-shoping .shoping-area .car-info-box .car-notice {
  margin-top: 22px;
}
.sect-shoping .shoping-area .car-info-box .car-notice p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: -0.7px;
}
.sect-shoping .shoping-area .car-info-box .btn-quote {
  margin-top: 22px;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a34bb9),
    to(#743bca)
  );
  background: linear-gradient(90deg, #a34bb9, #743bca);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1px;
  height: 60px;
  border-radius: 30px;
  padding-top: 4px;
}
/* //shop 지식쇼핑 */
/* shop: popup 스타벅스 */
.stabucks-amricano {
  display: none;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.stabucks-amricano .bg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 555;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 662px;
}
.stabucks-amricano img {
  display: block;
}
.stabucks-amricano img.img-pc {
  display: block;
}
.stabucks-amricano img.img-m {
  display: none;
}
.stabucks-amricano button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.stabucks-amricano button span {
  display: block;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}
/* //shop: popup 스타벅스 */
/* 사이드배너 */
.side-sect-right {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
}
.side-sect-right .side-area {
  left: 610px;
  top: 190px;
  position: absolute;
}
.side-sect-right .side-area .top-consult {
  position: relative;
  left: -10px;
  margin-bottom: 18px;
}
.side-sect-right .side-area .top-consult a.rent-event img {
  margin-left: 5px;
  width: 149px;
}
.side-sect-right .side-area .top-consult a.top-estimate img {
  width: 137px;
}
.side-sect-right .side-area .side-item {
  margin-bottom: 18px;
}
.side-sect-right .side-area .side-item:last-of-type {
  margin-bottom: 0;
}
.side-sect-right .side-area .side-item img {
  width: auto;
}

@media (max-width: 1560px) {
  .side-sect-right {
    width: auto;
    margin: initial;
  }
  .side-sect-right .side-area {
    left: auto;
    right: 30px;
  }
  .side-sect-right .side-area .top-consult {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .side-sect-right .side-area .side-item {
    margin-bottom: 18px;
  }
  .side-sect-right .side-area .side-item:last-of-type {
    margin-bottom: 0;
  }
  .side-sect-right .side-area .side-item img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/* //사이드배너 */

@media (max-width: 900px) {
  html {
    font-size: calc((10 / 750) * 100vw);
  }
  /* common title */
  .wrap-container .title-area .title-sub {
    font-size: 2.6rem;
    font-weight: 300;
    letter-spacing: -0.7px;
  }
  .wrap-container .title-area .title-main {
    font-size: 4.6rem;
    font-weight: 500;
    margin-top: 1.4rem;
    letter-spacing: -1px;
  }
  .wrap-container .sub-ment {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 3.2rem;
    line-height: 1.4;
    letter-spacing: -1px;
    word-break: keep-all;
  }
  /* 메인 Intro */
  .sect-intro {
    padding-top: 9rem;
    background: url("https://static.carminute.co.kr/img/main/intro_bg.jpg")
      no-repeat center;
    background-size: cover;
  }
  .sect-intro .sect-container {
    text-align: center;
  }
  .sect-intro .sect-container img {
    width: 100%;
  }
  .sect-intro .intro-area .intro-logo {
    width: 18rem;
    margin: 0 auto;
  }
  .sect-intro .intro-area .intro-subment {
    font-size: 2.4rem;
    margin-top: 3.4rem;
  }
  .sect-intro .intro-area .title {
    width: 80%;
    margin: 0 auto;
    margin-top: 3.6rem;
  }
  .sect-intro .intro-area .img-car {
    margin: 0 auto;
    margin-top: 4.6rem;
    width: 80%;
  }
  .sect-intro .contents {
    position: relative;
  }
  .sect-intro .intro-over-cont {
    padding-top: 6.4rem;
    padding-bottom: 4.2rem;
  }
  .sect-intro .intro-over-cont .txt-area {
    text-align: center;
  }
  .sect-intro .intro-over-cont .txt-area .p-txt {
    color: #fff;
    font-size: 4.2rem;
    font-weight: 300;
    letter-spacing: -0.7px;
  }
  .sect-intro .intro-over-cont .txt-area .p-txt .mark {
    color: #ff79f1;
    font-size: 6.6rem;
    font-weight: 500;
  }
  /* Section */
  .sect-advantage01 {
    padding-top: 7rem;
    padding-bottom: 8rem;
  }
  .sect-advantage02 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .sect-advantage03 {
    padding-top: 8.6rem;
    padding-bottom: 10rem;
  }
  .sect-advantage04 {
    padding-top: 7.6rem;
    padding-bottom: 10rem;
  }
  .sect-advantage04 .contents:first-of-type {
    padding-bottom: 5rem;
    margin-bottom: 7rem;
  }
  .sect-benefit {
    padding-top: 7.4rem;
    padding-bottom: 7rem;
  }
  /* Carlist */

  .sect-carlist .carlist-area {
    margin-top: 8rem;
  }
  .sect-carlist .carlist-area .car-brand {
    text-align: center;
    height: 5.5rem;
  }
  .sect-carlist .carlist-area .car-brand img {
    width: auto;
    height: 100%;
  }
  .sect-carlist .carlist-area .car-title-best {
    text-align: center;
    color: #fff;
    font-size: 5rem;
    letter-spacing: -3px;
  }
  .sect-carlist .carlist-area .car-title-best .span-t01 {
    color: #a17ed7;
    font-weight: 500;
  }
  .sect-carlist .carlist-area .car-title-best .span-t02 {
    color: #cc5acc;
    font-weight: 500;
  }
  .sect-carlist .carlist-area .carlist-ul {
    position: relative;
    margin: 2.4rem 0 0;
    padding: 0 2rem;
  }
  .sect-carlist .carlist-area .carlist-ul > li {
    width: 48%;
    border-radius: 1.4rem;
    padding-top: 3rem;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-view {
    margin-top: 3rem;
    height: 13rem;
    margin-top: 2.4rem;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-view .img-box {
    width: 26rem;
    margin: 0 auto;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-name {
    font-size: 4rem;
    font-weight: 600;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-type {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 30px;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-info-box {
    background-color: #1c1e26;
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-info-ul {
    margin: 0 auto;
    padding-top: 2.4rem;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-info-ul > li {
    border-bottom: 1px solid #34363d;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-info-ul > li:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-info-ul > li p {
    color: #fff;
    font-weight: 300;
    letter-spacing: -0.6px;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-info-ul > li .p-name {
    font-size: 2.4rem;
    font-weight: 300;
  }
  .sect-carlist .carlist-area .carlist-ul > li .car-info-ul > li .p-cont {
    font-size: 2rem;
  }
  .sect-carlist
    .carlist-area
    .carlist-ul
    > li
    .car-info-ul
    li.info-fee
    .p-cont {
    font-size: 2.8rem;
    font-weight: 500;
  }
  .sect-carlist
    .carlist-area
    .carlist-ul
    > li
    .car-info-ul
    li.info-fee
    .p-cont
    .span-won {
    font-size: 2.2rem;
    font-weight: 500;
  }
  .sect-carlist .carlist-area .carlist-ul > li .btn-quote {
    border-radius: 3rem;
    height: 6rem;
    font-size: 2.8rem;
    margin: 0 auto;
    margin-top: 1.8rem;
    padding-top: 0.6rem;
  }
  .sect-carlist .carlist-area .carlist-best-ul {
    margin-top: 46px;
  }
  .sect-carlist .carlist-area .carlist-best-ul > li::before {
    width: 7.8rem;
    height: 11.6rem;
    left: -2.2rem;
    top: -1rem;
    background-size: 7.8rem 11.6rem !important;
  }
  .sect-carlist .carlist-best {
    margin-top: 5.2rem;
    padding-bottom: 3rem;
  }
  /* QNA */
  .sect-qna {
    padding-top: 9rem;
    padding-bottom: 5rem;
  }
  .sect-qna .qna-area {
    margin-top: 5.2rem;
  }
  .sect-qna .qna-area .qna-ul {
    padding: 0 4rem;
    width: 100%;
  }
  .sect-qna .qna-area .qna-ul > li {
    margin-bottom: 4rem;
  }
  .sect-qna .qna-area .qna-ul > li p {
    letter-spacing: -1px;
    line-height: 1.5;
  }
  .sect-qna .qna-area .qna-ul > li .p-q {
    font-size: 3rem;
    font-weight: 500;
  }
  .sect-qna .qna-area .qna-ul > li .p-q::before {
    margin-right: 0.8rem;
  }
  .sect-qna .qna-area .qna-ul > li .p-a {
    margin-top: 1rem;
    font-size: 2.4rem;
    font-weight: 300;
  }
  .sect-qna .qna-area .qna-ul > li .p-a::before {
    margin-right: 1.4rem;
  }
  /* //QNA */
  /* 견적받기 */
  .sect-quote {
    padding-top: 10rem;
    padding-bottom: 8rem;
  }
  .sect-quote .quote-area {
    margin: 0 auto;
    margin-top: 7rem;
    max-width: none;
    width: 76%;
  }
  .sect-quote .quote-area .in-box {
    width: 100%;
  }
  .sect-quote .quote-area .in-box input {
    height: 7rem;
    display: block;
    padding-left: 2rem;
    margin-bottom: 1.8rem;
    font-size: 3.6rem;
    padding-top: 0.8rem;
  }
  .sect-quote .quote-area .agree-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sect-quote .quote-area .agree-box .label-agree {
    color: #fff;
    font-size: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sect-quote .quote-area .agree-box .label-agree span {
    padding-top: 1rem;
  }
  .sect-quote .quote-area .agree-box .label-agree::before {
    content: "";
    margin-right: 1.4rem;
    width: 2.8rem;
    height: 2.8rem;
    border: 2px solid #ccc;
    background-color: #fff;
  }
  .sect-quote
    .quote-area
    .agree-box
    .check-agree:checked
    + .label-agree::before {
    font-size: 2.5rem;
    line-height: 1.5;
  }
  .sect-quote .quote-area .agree-box .btn-policy {
    margin-left: 1.2rem;
    border-radius: 1.6rem;
    width: 6.6rem;
    height: 3.2rem;
    padding-top: 0.4rem;
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: -0.7px;
    background-color: #7c7c7e;
  }
  .sect-quote .quote-area .btn-quote {
    margin-top: 4.5rem;
    height: 9rem;
    border-radius: 4.5rem;
    color: #fff;
    font-size: 3.5rem;
    padding-top: 1rem;
  }
  .sect-quote .quote-area .banner-event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
  }
  .sect-quote .quote-area .banner-event div {
    cursor: pointer;
    /* width: 49.5%; */
    /* 업로드 */
    width: 100%;
  }

  /* //견적받기 */
  /* shop 지식쇼핑 */
  .sect-shoping {
    background-color: #000;
    padding-top: 0;
    padding-bottom: 0;
  }
  .sect-shoping .shoping-area {
    padding: 0;
    padding-bottom: 38px;
    background-color: #4d4d4d;
    display: block;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .sect-shoping .shoping-area * {
    color: #fff;
  }
  .sect-shoping .shoping-area .car-view-box {
    width: 100%;
  }
  .sect-shoping .shoping-area .car-view-box .car-viewer {
    background-color: #23262a;
    width: 100%;
    height: 46rem;
    padding-top: 9rem;
    overflow: hidden;
  }
  .sect-shoping .shoping-area .car-view-box .car-viewer .img-box {
    width: 82%;
    margin: 0 auto;
  }
  .sect-shoping .shoping-area .car-info-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 5.2rem;
  }
  .sect-shoping .shoping-area .car-info-box .car-name {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
  }
  .sect-shoping .shoping-area .car-info-box ul {
    margin-top: 3.2rem;
    border-top: 2px solid #c4c4c4;
  }
  .sect-shoping .shoping-area .car-info-box ul li {
    padding: 0 1.8rem;
    padding-top: 1.8rem;
    padding-bottom: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
  }
  .sect-shoping .shoping-area .car-info-box ul li .p-name {
    font-size: 2.4rem;
    font-weight: 500;
  }
  .sect-shoping .shoping-area .car-info-box ul li .p-cont {
    font-size: 2.6rem;
  }
  .sect-shoping .shoping-area .car-info-box .car-info-ul li.info-fee .p-name {
    font-size: 2.8rem;
  }
  .sect-shoping .shoping-area .car-info-box .car-info-ul li.info-fee .p-cont {
    font-size: 3.5rem;
  }
  .sect-shoping
    .shoping-area
    .car-info-box
    .car-info-ul
    li.info-fee
    .p-cont
    .span-won {
    font-size: 2.3rem;
  }
  .sect-shoping .shoping-area .car-info-box .car-notice {
    margin-top: 2.2rem;
  }
  .sect-shoping .shoping-area .car-info-box .car-notice p {
    font-size: 2.2rem;
  }
  .sect-shoping .shoping-area .car-info-box .btn-quote {
    margin-top: 2.4rem;
    font-size: 3.8rem;
    letter-spacing: -1px;
    height: 8rem;
    border-radius: 4rem;
    padding-top: 0.4rem;
  }
  /* //shop 지식쇼핑 */
  /* shop: popup 스타벅스 */
  .stabucks-amricano .bg {
    width: 85%;
  }
  .stabucks-amricano img.img-pc {
    display: none;
  }
  .stabucks-amricano img.img-m {
    display: block;
  }
  /* //shop: popup 스타벅스 */
  /* 사이드배너 */
  .side-sect-right {
    display: none;
  }
} /* //900 */
