<footer class="footer">
    <section class="sect-footer">
        <div class="footer-top">
            <div class="logo">
                <img src="http://static.carminute.co.kr/img/common/logo_white.png" alt="로고">
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copy-area">
                <p class="copy-company">
                    (주)이비즈넥트웍스 대표이사 : 박기범 I 대표전화: 02-6255-3313<br>
                    서울특별시 강남구 테헤란로82길 15,(대치동, 디아이 타워) I 사업자등록번호 : 220-87-30865<br>
                    통신판매업신고번호 : 제 강남-11501호
                </p>
                <p class="copy-company">
                    (주)이비즈에셋 대표이사 : 김영배 I 대표전화: 02-6255-3313<br>
                    강원도 고성군 죽왕면 삼포리 243-13 2층 237호 I 사업자등록번호 : 865-87-00164<br>
                    통신판매업신고번호 : 저2015-서울강남-02194호
                </p>
            </div>
            <a href="https://open.kakao.com/o/sZJy4m0c" class="btn-kakao" target="_blank">
                <img src="http://static.carminute.co.kr/img/common/btn_banner_kakao.png" alt="카카오">
            </a>
        </div>
    </section>
</footer>