/*메인*/
html {
    height: 100%;
}
.body-main {
    // background-color: #080607;
    height: 100%;
    position: relative;
}
.land-wrap {
    position: relative;
    .land-main {
        position: relative;

        background: url('https://static.carminute.co.kr/img/landing/car_minute/landing/base_bg.jpg');
        // background-size: cover;
        background-position: center;
    }
}

/*인트로*/
.land-wrap .land-main {
    .sect-intro {
        position: relative;
        .sect-container {
            position: relative;
            .intro-area {
                // width: 1920px;
                width: 100%;
                max-height: 980px;
                overflow: hidden;
                position: relative;
                display: flex;
                // align-items: flex-end;
                .img-bg {
                    background-color: #002823;
                    position: relative;
                    width: 100%;
                    img {
                        position: relative;
                        // width: 100%;
                        width: 1920px;
                        // top: 50%;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                    }
                }

                .title-area {
                    position: absolute;
                    // overflow: hidden;
                    width: 0;
                    height: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    .part-title-area {
                        position: relative;
                        top: 255px;
                        width: 520px;
                        left: -70px;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .land-wrap .land-main {
        .sect-intro {
            .sect-container {
                .intro-area {
                    width: 100%;
                    max-height: none;
                    height: auto;
                    overflow: auto;
                    position: relative;
                    display: block;
                    .img-bg {
                        & > img {
                            position: relative;
                            width: 100%;
                            min-width: auto;
                            left: auto;
                            transform: none;
                        }
                    }
                    .title-area {
                        position: absolute;
                        // overflow: hidden;
                        width: 0;
                        height: 0;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        .part-title-area {
                            position: relative;
                            top: 31rem;
                            width: 37.2rem;
                            left: 16rem;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}

/*기입*/
.land-wrap .land-main {
    .sect-write {
        margin-top: 52px;
        .sect-container {
            position: relative;
            .write-box-bg {
                max-width: 1084px;
                width: 100%;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                img {
                    position: relative;
                    width: auto;
                    min-width: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    // max-width: 100%;
                    // max-width: 100%;
                }
            }
            .write-area {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                padding-top: 70px;
                .title-box {
                    .title-main {
                        max-width: 486px;
                        width: 100%;
                        margin: 0 auto;
                    }
                    .title-sub {
                        max-width: 361px;
                        width: 100%;
                        margin: 0 auto;
                        margin-top: 28px;
                    }
                }
                .write-box {
                    max-width: 432px;
                    width: 100%;
                    margin: 0 auto;
                    margin-top: 32px;
                    .in-write-ul {
                        width: 100%;
                        & > li {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 12px;
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                            label {
                                color: #4b4b4b;
                                font-size: 23px;
                                font-weight: 700;
                                letter-spacing: -0.6px;
                            }
                            input {
                                width: 315px;
                                height: 50px;
                                padding-left: 15px;
                                // border: 2px solid #ccc;
                                color: #c1c1c1;
                                font-size: 22px;
                                font-weight: 400;
                                letter-spacing: -0.5px;
                                background-color: #000;
                                &:focus {
                                    &::placeholder {
                                        color: transparent;
                                    }
                                }
                                &::placeholder {
                                    color: #c1c1c1;
                                }
                                // &::-webkit-placeholder{
                                //     color: #862020;
                                // }
                            }
                        }
                    }

                    .btn-quote {
                        margin-top: 28px;
                        width: 100%;
                    }
                    .write-notice {
                        text-align: center;
                        margin-top: 24px;
                        color: #323232;
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: -0.8px;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .land-wrap .land-main {
        .sect-write {
            margin-top: 5rem;
            .sect-container {
                .write-box-bg {
                }
                .write-area {
                    background-color: #fff;
                    position: relative;
                    padding-top: 6.2rem;
                    padding-bottom: 6.8rem;
                    width: 65.9rem;
                    box-shadow: 0.7rem 0.7rem 1.3rem 0 rgba(0, 0, 0, 0.3);
                    .title-box {
                        .title-main {
                            max-width: 53.6rem;
                        }
                        .title-sub {
                            max-width: 37.7rem;
                            margin-top: 4rem;
                        }
                    }
                    .write-box {
                        max-width: 45.5rem;
                        margin-top: 4.4rem;
                        .in-write-ul {
                            & > li {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 12px;
                                &:last-of-type {
                                    margin-bottom: 0;
                                }
                                label {
                                    color: #4b4b4b;
                                    font-size: 2.4rem;
                                    font-weight: 700;
                                    letter-spacing: -0.6px;
                                }
                                input {
                                    width: 31.5rem;
                                    height: 5.7rem;
                                    padding-left: 15px;
                                    // border: 2px solid #ccc;
                                    color: #c1c1c1;
                                    font-size: 2.4rem;
                                    font-weight: 400;
                                    letter-spacing: -0.5px;
                                    background-color: #000;
                                    // &:focus{
                                    //     border-color: #1679a7;
                                    // }
                                }
                            }
                        }

                        .btn-quote {
                            margin-top: 5rem;
                        }
                        .write-notice {
                            text-align: center;
                            margin-top: 2.8rem;
                            color: #323232;
                            font-size: 2.2rem;
                            letter-spacing: -1px;
                        }
                    }
                }
            }
        }
    }
}

/*푸터*/
.land-wrap .land-main {
    .sect-footer {
        margin-top: 18px;
        width: 100%;
        padding-bottom: 70px;
        .sect-container {
            max-width: 1100px;
            width: 100%;
            margin: 0 auto;

            p {
                text-align: center;
                color: #bbb;
                font-size: 16px;
                line-height: 1.6;
                word-break: keep-all;
                letter-spacing: -0.4px;
                span {
                    display: inline-block;
                }
                a {
                    text-align: center;
                    color: #bbb;
                    font-size: 16px;
                    line-height: 1.6;
                    word-break: keep-all;
                    letter-spacing: -0.4px;
                }
            }
            .p-copy-txt {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 900px) {
    .land-wrap .land-main {
        .sect-footer {
            margin-top: 4.2rem;
            padding-bottom: 17.2rem;
            .sect-container {
                p {
                    font-size: 1.9rem;
                    line-height: 1.6;
                    a {
                        font-size: 1.9rem;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}

/*사이드 배너*/
.land-wrap .land-main {
    .side-sect-right {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        margin: 0 auto;
        .side-area-banner {
            top: 500px;
            left: 740px;
            position: absolute;
            .btn-go-kakao {
                position: relative;
                display: block;
                width: 157px;
            }
        }
    }
}

@media (max-width: 900px) {
    .land-wrap .land-main {
        .side-sect-right {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            left: auto;
            right: 0;
            width: 0;
            height: 100%;
            // margin: 0 auto;
            .side-area-banner {
                top: auto;
                bottom: 2rem;
                left: -2rem;
                position: absolute;
                .btn-go-kakao {
                    position: relative;
                    display: block;
                    width: 17.7rem;
                    transform: translateX(-100%);
                }
            }
        }
    }
}

/*모바일용 버튼*/
.land-wrap .land-main {
    .btn-bottom-sect {
        width: 100%;
        position: fixed;
        bottom: 0;
        .btn-area {
            display: flex;
            width: 100%;

            & > * {
                display: block;
                width: 50%;
            }
        }
    }
}

.ani-blink {
    transform-origin: 50% 50%;
    animation: blink 1s linear infinite;
    // -webkit-transform: rotate(405deg);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        // transform: rotate(1deg);
    }

    50% {
        opacity: 0;
    }
    75% {
        // transform: rotate(-1deg);
    }

    100% {
        opacity: 1;
    }
}

// .ani-move-rigth{
//     // transform-origin: 50% 50%;
//     animation: moveRight 2.0s linear infinite;
// }

// @keyframes moveRight{
//     0%{
//         transform: translateX(100%);
//         // opacity: 0.0;
//     }
//     25%{

//     }
//     49%{
//         transform: scaleX(0.8)
//     }
//     50%{
//         transform: translateX(0) scaleX(0.8);

//     }
//     75%{

//     }

//     100%{
//         // opacity: 1.0;
//     }
// }
