<section class="sect sect-intro">
    <div class="contents">
        <div class="sect-container">
            <div class="intro-area">
                <div class="intro-logo">
                    <img src="https://static.carminute.co.kr/img/main/intro_logo.png" alt="이미지">
                </div>
                <div class="title">
                    <img src="https://static.carminute.co.kr/img/main/intro_title.png" alt="이미지">
                </div>
                <p class="intro-subment">카민에서는 전문 상담사가 비용을 최저가로 맞춰드립니다.</p>
                <div class="img-car">
                    <div class="img-box"><img src="https://static.carminute.co.kr/img/main/intro_car.png" alt="이미지">
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-over-cont">
            <div class="txt-area">
                <p class="p-txt">
                    <span>최대</span>
                    <span class="mark">2,112,892</span>
                    <span>원 절약</span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="sect sect-advantage01">
    <div class="contents">
        <div class="sect-container">
            <img src="https://static.carminute.co.kr/img/main/cont_advantage01.png" alt="콘텐츠">
        </div>
    </div>
</section>
<section class="sect sect-advantage02">
    <div class="contents">
        <div class="sect-container">
            <img src="https://static.carminute.co.kr/img/main/cont_advantage02.png" alt="콘텐츠">
        </div>
    </div>
</section>
<section class="sect sect-advantage03">
    <div class="contents">
        <div class="sect-container">
            <img src="https://static.carminute.co.kr/img/main/cont_advantage03.png" alt="콘텐츠">
        </div>
    </div>
</section>
<section class="sect sect-advantage04">
    <div class="contents">
        <div class="sect-container">
            <img src="https://static.carminute.co.kr/img/main/cont_advantage04_1.png" alt="콘텐츠">
        </div>
    </div>
    <div class="contents">
        <div class="sect-container">
            <img src="https://static.carminute.co.kr/img/main/cont_advantage04_2.png" alt="콘텐츠">
        </div>
    </div>
</section>
<section class="sect sect-benefit">
    <div class="contents">
        <div class="sect-container">
            <img src="https://static.carminute.co.kr/img/main/cont_benefit.png" alt="콘텐츠">
        </div>
    </div>
</section>

<!--자동차 리스트 변경 03.19-->
<section class="sect sect-carlist">
    <div class="contents">
        <div class="sect-container">
            <div class="title-area">
                <p class="title-sub">카민의 BEST 인기차종</p>
                <p class="title-main">인기차종과 할인렌트로!</p>
            </div>
            <p class="sub-ment">
                선수금 : 40%, 48개월 기준<br>
                (보험료 / 자동차세 / 등록세 등 세금 일절 포함 / 추가 차량용품 혜택 (썬팅, 블랙박스 등) 더 이상 내는 가격 없음)
            </p>
            <div class="carlist-area carlist-best">
                <p class="car-title-best">
                    <span class="span-t01">카민 인기차종</span>
                    <span class="span-t02">Best4</span>
                </p>
                <ul class="carlist-ul carlist-best-ul">
                    <!--자동차 리스트 변경-->
                    @@loop('./_carlist/_carlist_temp.html','./shoping/_carlist/_carlist_best.json')
                    <!--./자동차 리스트 변경-->
                </ul>
            </div>
            <div class="carlist-area">
                <div class="car-brand">
                    <img src="https://static.carminute.co.kr/img/main/brand_hyundai.png" alt="콘텐츠">
                </div>
                <ul class="carlist-ul">
                    <!--자동차 리스트 변경-->
                    @@loop('./_carlist/_carlist_temp.html','./shoping/_carlist/_carlist_info.json')
                    <!--./자동차 리스트 변경-->
                </ul>
            </div>
            <div class="carlist-area">
                <div class="car-brand">
                    <img src="https://static.carminute.co.kr/img/main/brand_kia.png" alt="콘텐츠">
                </div>
                <ul class="carlist-ul">
                    <!--자동차 리스트 변경-->
                    @@loop('./_carlist/_carlist_temp.html','./shoping/_carlist/_carlist_info.json')
                    <!--자동차 리스트 변경-->
                </ul>
            </div>
            <div class="carlist-area">
                <div class="car-brand">
                    <img src="https://static.carminute.co.kr/img/main/brand_ssanyong.png" alt="콘텐츠">
                </div>
                <ul class="carlist-ul">
                    <!--자동차 리스트 변경-->
                    @@loop('./_carlist/_carlist_temp.html','./shoping/_carlist/_carlist_info.json')
                    <!--자동차 리스트 변경-->
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="sect sect-qna">
    <div class="contents">
        <div class="sect-container">
            <div class="title-area">
                <p class="title-sub">렌트카가 궁금하다!</p>
                <p class="title-main">신차 장기렌트 FAQ</p>
            </div>
            <div class="qna-area">
                <ul class="qna-ul">
                    <li>
                        <p class="p-q">신차장기렌트카는 무엇인가요?</p>
                        <p class="p-a">신차를 직접 구매 하지 않고 최소 12개월~60개월까지 빌려서 타는 차량 이용 방법이며, 세금, 보험료,
                            차량관리, 사고처리 등 모든 관리 업무를 렌터카 업체에서 대행하여 관리합니다. <br>
                            또한 계약기간 후 타던 차량을 저렴하게 인수 할 수도 있습니다.</p>
                    </li>
                    <li>
                        <p class="p-q">장기렌트카와 리스의 차이점은 무엇인가요?</p>
                        <p class="p-a">신차장기렌트카 : 세금 보험이 포함되어 있고, 번호가 허,하,호로 나옵니다.<br>
                            리스 : 세금 보험이 미포함되어 있고 번호판은 일반 번호입니다.<br>
                            ※ 개인의 조건에 맞게 이용하시면 됩니다.</p>
                    </li>
                    <li>
                        <p class="p-q">가격이 왜 저렴한가요?</p>
                        <p class="p-a">가격은 선수금 또는 보증금 조건과 회사내의 프로모션 조건등으로 가격에 차이가 있습니다. 따라서 그달의 프로모션과 같이 진행될 경우 가격이 많이
                            낮아지기도 합니다.<br>
                            원하는 차로 견적을 꼭 받아보시기 바랍니다!</p>
                    </li>
                    <li>
                        <p class="p-q">회사 보유된 재고 차량은 아닌가요?</p>
                        <p class="p-a">계약된 차량으로 신차를 구입하여 출고합니다.</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<section class="sect sect-quote">
    <div class="contents">
        <div class="sect-container">
            <div class="title-area">
                <p class="title-sub">최저가로 견적문의하세요</p>
                <p class="title-main">카민에서 최저가 견적받기</p>
            </div>
            <div class="quote-area">
                <div class="in-box">
                    <input type="text" autocomplete="off" placeholder="이름">
                    <input type="text" autocomplete="off" placeholder="연락처">
                    <input type="text" autocomplete="off" placeholder="차종">
                </div>
                <div class="agree-box">

                    <input type="checkbox" id="in-agree" class="check-agree">
                    <label for="in-agree" class="label-agree"><span>개인정보수집동의</span></label>

                    <button type="button" class="btn-policy btn-open-policy">보기</button>
                </div>
                <button type="button" class="btn-quote btn-complete">최저가 견적 요청</button>
                <!-- 이벤트배너 -->
                <div class="banner-event">
                    <div class="event-starbucks">
                        <!-- 2021.06.29 이미지변경 -->
                        <!-- <img src="https://static.carminute.co.kr/img/common/starbucks_mini_banner.jpg"
                            alt="렌터카 견적요청하고 스타벅스 아메리카노 받자"> -->
                        <img src="https://static.carminute.co.kr/img/common/staria_starbucks_m.png"
                            alt="렌터카 견적요청하고 스타벅스 아메리카노 받자">
                    </div>
                    <!-- 2021.06.29 무료숙박권 배너 삭제 -->
                    <!-- <div class="event-rentcar">
                        <img src="https://static.carminute.co.kr/img/common/hotel_mini_banner.jpg"
                            alt="렌터카 상담완료시 호텔/리조트 무료숙박권 증정">
                    </div> -->
                    <!-- //2021.06.29 무료숙박권 배너 삭제 -->
                </div>
                <!-- //이벤트 배너 -->
            </div>

        </div>
    </div>
</section>





<script>

</script>