<!-- 사이드배너 -->
<aside class="side-sect-right">
    <div class="side-area">
        <div class="top-consult">
            <a href="#none" class="rent-event">
                <img src="https://static.carminute.co.kr/img/landing/car_minute/banner-coupon1.png"
                    alt="렌터카 상담하고 커피쿠폰 받기">
            </a>
            <a href="#none" class="top-estimate">
                <img src="https://static.carminute.co.kr/img/landing/car_minute/banner-coupon2.png" alt="견적받기">
            </a>
        </div>
        <div class="side-item">
            <!-- 2021.06.29 무료숙박권 배너 삭제 -->
            <!-- <button type="button" class="btn-event">
                <img src="https://static.carminute.co.kr/img/main/side_banner_freehotel.png"
                    alt="감사이벤트, 상담완료시 인기 숙박시설 무료이용">
            </button> -->
        </div>
        <div class="side-item">
            <button type="button" class="btn-open-consult">
                <img src="https://static.carminute.co.kr/img/main/side_banner_quote.png" alt="사이드배너">
            </button>
        </div>
        <div class="side-item">
            <a href="https://open.kakao.com/o/sZJy4m0c" target="_blank">
                <img src="https://static.carminute.co.kr/img/main/side_banner_kakao.png" alt="사이드배너">
            </a>
        </div>
    </div>
</aside>
<!-- //사이드배너 -->

<!-- 2021.06.29 스타리아 팝업 -->
<div class="popup-staria" style="display:none">
    <div class="inwrap">
        <img src="http://static.carminute.co.kr/img/popup/staria/staria-bg.jpg" alt="독점계약! 스타리아 즉시출고 07.01 ~ 소진시까지">
        <button class="btn-close">닫기버튼</button>
        <div class="apply-form">
            <form>
                <div class="inbox">
                    <input type="text" name="username" placeholder="이름" />
                    <input type="text" name="car" placeholder="차종" value="스타리아" />
                </div>
                <input class="input-tel" type="text" name="tel" placeholder="연락처" />
                <div class="agreement">
                    <input type="checkbox" id="chk-agree" checked>
                    <label for="chk-agree">
                        <span>개인정보수집동의</span>
                    </label>
                    <button type="button" class="btn-more">보기</button>
                </div>
                <button type="button" class="btn-request">
                    <img src="http://static.carminute.co.kr/img/popup/staria/btn-ask.png" alt="신청문의 버튼이미지">
                    <div class="icon-img">
                        <img class="pc-img" src="http://static.carminute.co.kr/img/popup/staria/mini-starbucks.png"
                            alt="지금 상담받고 스벅커피 받자!">
                        <img class="m-img" src="http://static.carminute.co.kr/img/popup/staria/mini-starbucks.png"
                            alt="지금 상담받고 스벅커피 받자!">
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- //2021.06.29 스타리아 팝업 -->

<!-- 스타벅스 팝업 -->
<!-- 21.07.07 -->
<div class="popup-event">
    <div>
        <img src="https://static.carminute.co.kr/img/landing/car_minute/landing/starbucks_popup.jpg"
            alt="장기렌트카 견적받으면 스타벅스 전원증정!">
        <button class="btn-close">닫기버튼</button>
        <!-- 버튼추가: 클릭시 기존 견적문의하기 팝업 활성화 -->
        <button class="btn-open-consult">
            <img src="https://static.carminute.co.kr/img/landing/car_minute/landing/btn-starbucks_pop.png"
                alt="견적받고 스타벅스 커피받기 버튼">
        </button>
    </div>
</div>
<!-- 21.07.07 -->
<!-- //스타벅스 팝업 -->


<!--모바일 바텀버튼-->
<div class="btn-bottom-sect show-mobile">
    <div class="btn-area">
        <a href="tel:02-6255-3133" class="btn btn-tel">
            <div class="icon">
                <img src="https://static.carminute.co.kr/img/common/icon_btn_tel.png" alt="아이콘">
            </div>
        </a>
        <a href="https://open.kakao.com/o/sZJy4m0c" class="btn btn-kakao" target="_blank">
            <div class="icon">
                <img src="https://static.carminute.co.kr/img/common/icon_kakao.png" alt="이미지">
            </div>
            <p class="p-txt">카카오톡<br> 문의하기</p>
        </a>
        <a href="https://www.carminute.co.kr/rent/info-input" class="btn btn-estimate btn-move-quote">
            <div class="icon">
                <img src="https://static.carminute.co.kr/img/common/icon_btn_starbucks.png" alt="견적받고 스벅커피 받기">
            </div>
            <p class="p-txt">견적받고 <br> 스벅커피 받기</p>
        </a>
    </div>
</div>
<!-- //모바일 바텀버튼 -->

<!--빠른상담신청-->
<div class="pop-consult-wrap">
    <div class="pop-consult">
        <!-- 팝업배너 -->
        <!-- 2021.06.29 무료숙박권 배너 삭제 -->
        <!-- <div class="event-rentcar">
            <img src="https://static.carminute.co.kr/img/common/btn_freehotel.jpg"
                alt="감사이벤트, 장기렌터카 상담완료시 무조건 증정 '강원도 인기 숙박 시설 무료이용'">
        </div> -->
        <!-- 2021.06.29 무료숙박권 배너 삭제 -->
        <div class="event-starbucks">
            <img src="https://static.carminute.co.kr/img/common/btn-starbucks.jpg"
                alt="감사이벤트, 장기렌터카 상담완료시 무조건 증정 '강원도 인기 숙박 시설 무료이용'">
        </div>
        <!-- //팝업배너 -->
        <button type="button" class="btn-close-pop">
            <div class="img-box"><img src="https://static.carminute.co.kr/img/common/icon_close_x.png" alt="이미지"></div>
        </button>
        <div class="pop-area">
            <div class="pop-cont">
                <div class="logo-top">
                    <img src="https://static.carminute.co.kr/img/common/pop_logo.png" alt="이미지">
                </div>
                <p class="pop-title">빠른상담신청</p>
                <div class="in-box">
                    <input type="text" autocomplete="off" placeholder="이름">
                    <input type="text" autocomplete="off" placeholder="연락처">
                    <input type="text" autocomplete="off" placeholder="차종">
                </div>
                <div class="policy-box">
                    <p class="p-txt">개인정보 수집 동의</p>
                    <button type="button" class="btn-policy btn-open-policy">보기</button>
                </div>
                <button type="button" class="btn-consult btn-complete">상담신청하기</button>
                <p class="p-tel">02-6255-3133</p>
            </div>
        </div>
    </div>
</div>
<!--./빠른상담신청-->



<!--완료 박스-->
<div class="modal-complete-request">
    <div class="complete-area">
        <button type="button" class="btn-close-complete btn-close-pop">
            <img class="show-pc" src="https://static.carminute.co.kr/img/common/btn_close_modal.png" alt="닫기">
            <img class="show-mobile" src="https://static.carminute.co.kr/img/common/btn_close_modal02.png" alt="닫기">
        </button>
        <div class="top-logo">
            <img src="https://static.carminute.co.kr/img/common/complete_top_logo.png" alt="로고">
        </div>
        <div class="message-main">
            <p class="txt-pc">상담요청이 완료되었습니다</p>
            <p class="txt-mobile">상담요청 완료!</p>
        </div>

        <div class="line-bar"></div>
        <p class="message-sub">
            <span class="name">테스트</span>님 전문상담원이<br>
            <span class="car">그랜저엑스</span>차종<br>
            <span class="phone">010-1234-5678</span>으로<br>
            <span class="mark">빠르게 연락</span>드리겠습니다.
        </p>
        <button type="button" class="btn-go-complte btn-close-pop">확 인</button>
    </div>
</div>
<!--./완료 박스-->

<!--위로가기 버튼-->
<div class="fn-up-wrap">
    <div class="fn-up-area">
        <div class="btn-box">
            <button type="button" class="btn-fn-up fn-scroll-up">
                <div class="img-box"><img src="https://static.carminute.co.kr/img/common/btn_fn_up.png" alt="위로가기">
                </div>
            </button>
        </div>
    </div>
</div>
<!--./위로가기 버튼-->

<!--정책박스-->
@@include('./_policy.html')
<!--./정책박스-->

<!-- 테슬라 단독판매(2021_0402) -->
<!-- <div class="pop-consult-wrap-tsla">
    <div class="pop-consult">
        <button type="button" class="btn-close-pop">
            <div class="img-box"><img src="https://static.carminute.co.kr/img/common/icon_close_x.png" alt="닫기버튼"></div>
        </button>
        <div class="pop-area">
            <div class="pop-cont">
                <div class="logo-top">
                    <img src="https://static.carminute.co.kr/img/popup/tesla/pop_text00.png " alt="카민단독">
                    <img src="https://static.carminute.co.kr/img/popup/tesla/pop_text01.png " alt="테슬라 단독판매">
                    <img src="https://static.carminute.co.kr/img/popup/tesla/pop_text02.png " alt="날짜">
                    <img src="https://static.carminute.co.kr/img/popup/tesla/pop_img00.png " alt="테슬라차">
                </div>
                <ul class="pop-list">
                    <li>
                        <p class="title ">모델</p>
                        <p class="cont">테슬라모델3 롱레인지</p>
                    </li>

                    <li>
                        <p class="title">사양</p>
                        <p class="cont">
                            <span>외장 : PEARL WHITE MULTI-COAT</span>
                            <span>내장 : ALL BLACK</span>
                            <span>휠 : 18인치 에어로휠</span>
                        </p>
                    </li>
                    <li>
                        <p class="title">가격</p>
                        <p class="cont"><span>5,990만원</span> → <em>4,772</em><b>만원</b></p>
                    </li>
                </ul>
                <div class="in-box">
                    <div>
                        <input type="text" autocomplete="off" placeholder="이름">
                        <input type="text" autocomplete="off" placeholder="차종" value="테슬라롱레인지3">
                    </div>
                    <input type="text" autocomplete="off" placeholder="연락처">
                </div>
                <button type="button" class="btn-consult btn-tsla btn-complete-tsla">신/청/문/의</button>
            </div>
        </div>
    </div>
</div> -->
<!--.//테슬라 단독판매(2021_0402) -->


<script>
    $(document).ready(function () {

        //==테슬라박스(2021_0402)==
        //오픈
        $(".btn-complete-tsla").on("click", function () {
            $("body").addClass("overflow-hidden");
            $(".modal-complete-request").show();
        });

        //닫기
        $(".pop-consult-wrap-tsla .btn-close-pop").on("click", function () {

            $("body").removeClass("overflow-hidden");
            $(".pop-consult-wrap-tsla").hide();
        });
        //.//==테슬라박스(2021_0402)==


        //==정책박스==
        $(".btn-open-policy").on("click", function () {
            $("body").addClass("overflow-hidden2");
            $(".pop-policy-wrap").show();
        });
        $(".pop-policy-wrap .btn-close-policy").on("click", function () {
            $("body").removeClass("overflow-hidden2");
            $(".pop-policy-wrap").hide();
        });
        //.//==정책박스==

        //==빠른상담신청==
        $(".btn-open-consult").on("click", function () {
            $("body").addClass("overflow-hidden");
            $(".pop-consult-wrap").show();
        });
        $(".pop-consult-wrap .btn-close-pop").on("click", function () {
            $("body").removeClass("overflow-hidden");
            $(".pop-consult-wrap").hide();
        });
        //.//==빠른상담신청==

        //==완료박스==
        $(".btn-complete").on("click", function () {
            $("body").addClass("overflow-hidden");
            $(".modal-complete-request").show();
        });

        $(".modal-complete-request .btn-close-pop").on("click", function () {
            $("body").removeClass("overflow-hidden");
            $(".modal-complete-request").hide();
            //빠른상담신청도 켜져 있으면 같이 꺼짐.
            if ($(".pop-consult-wrap").css("display") == "block") {
                $(".pop-consult-wrap").hide();
            }
        });
        //.//==완료박스==

    });

</script>