.massage-wrap *{
    box-sizing: border-box;
}

.massage-wrap button{
    border: none;
    outline: none;
    cursor: pointer;
}
.massage-wrap{
    position: relative;
    z-index: 20;
    position: relative;
    box-sizing: border-box;
    // padding-top: 20px;
    // padding-bottom: 20px;
    background-color: #ddd;
    padding: 7px 0;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 334px;
    border-radius: 18px;
    box-shadow: 0 0 8px 4px rgba(0,0,0, 0.2);
}


.massage-contents{
    
    background-color: #222;
    width: 96%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 12px;
    // min-height: 480px;

    .title{
        color: #ddd;
        font-size: 14px;
        text-align: center;
        margin-bottom: 4px;
    }
    .write-area{
        width: 92%;
        margin: 0 auto;
        .textarea-box{
            border-radius: 5px 5px 0 0;
            border: none;
            width: 100%;
            height: 280px;
            resize: none;
            outline: none;
            color: #333;
            font-size: 15px;
            letter-spacing: -0.5px;
            padding: 15px;
            border: 2px solid #ddd;
            border-bottom: none;

            &::-webkit-scrollbar{
                // display: none;
                // width: 10px;
                width: 4px;
            }
            &::-webkit-scrollbar-track{
                background-color: #fff;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #b8bfdb;
            }
        }
        .write-fn-box{
            height: 40px;
            background-color: #ddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 8px;
            
            .btn-rewrite{
                background-color: #3580b9;
                color: #fff;
                font-size: 13px;
                letter-spacing: -1px;
                padding: 4px 8px;
            }
            .char-num{
                font-size: 16px;
                letter-spacing: -0.4px;
            }
        }
        .tel-box{
            background-color: #eee;
            padding-top: 6px;
            padding-bottom: 10px;
            .tel-name{
                font-size: 15px;
                letter-spacing: -1px;
            }

            .tel-in-box{
                display: flex;
                padding:0 8px;
                padding-bottom: 5px;
                border-bottom: 1px dashed #aaa;
                align-items: center;
                .in-add-tel{
                    width: 142px;
                    height: 24px;
                    margin-left: auto;
                    margin-right: 5px;
                    font-size: 16px;
                    padding-left: 8px;
                    outline: none;
                    // letter-spacing: 1.2px;
                    border: 1px solid #333;
                    &:focus{
                        border: 2px solid #3580b9;
                    }
                }
            }
            .tel-list-box{
                margin-top: 5px;
                display: flex;
                padding:0 8px;
                
                .tel-name{
                    padding-top: 2px;
                }
                .tel-list{
                    margin-left: auto;
                    background-color: #fff;
                    width: 170px;
                    overflow-x: hidden;
                    overflow-y:scroll;
                    height: 78px;
                    border: 1px solid #ccc;
                    &::-webkit-scrollbar{
                        width: 4px;
                    }
                    &::-webkit-scrollbar-track{
                        background-color: #ddd;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: #9696a1;
                    }
                }
                .tel-list-ul{
                    padding: 0 4px;
                    padding-top: 2px;
                    &>li{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: dashed 1px #ccc;
                        padding: 4px 0;
                        padding-left: 4px;
                        padding-right: 2px;

                        &:last-of-type{
                            border: none;
                        }

                        .phone-num{
                            font-size: 14px;
                            line-height: 1;
                            letter-spacing: -0.5px;
                        }
                        
                        
                    }
                }
            }
        }           
    }

    .btn-add-tel{
        position: relative;
        background-color: #fff;
        border: 1px solid #e44e4e;
        border-radius: 4px;
        width: 22px;
        height: 22px;
        .icon-plus{
            position: relative;
            display: block;
            background-color: #e44e4e;
            width: 10px;
            height: 2px;
            margin: 0 auto;
            &::after{
                position: absolute;
                content: "";
                display: block;
                background-color: #e44e4e;
                width: 2px;
                height: 10px;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }

    .btn-del-tel{
        position: relative;
        background-color: #fff;
        border: 1px solid #3580b9;
        border-radius: 4px;
        width: 16px;
        height: 16px;
        .icon-minus{
            display: block;
            background-color: #3580b9;
            width: 60%;
            height: 2px;
            margin: 0 auto;
        }
    }


    .btn-send-massage{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e44e4e;
        width: 70%;
        height: 40px;
        margin: 0 auto;
        margin-top: 14px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 1.3;
        &:hover{
            background-color: #f13a3a;
        }
    }
    .btn-close-box{
        display: block;
        width: 100px;
        margin: 0 auto;
        margin-top: 12px;
    }
}